In [890]:
import numpy as np
import pandas as pd
import sklearn.linear_model
from sklearn.model_selection import train_test_split

In [891]:
data = pd.read_csv('amazon_baby.csv')

In [656]:
data = data[data['rating'] != 3]

In [892]:
print(data.shape)
data.head()

(183531, 3)

,name,review,rating
0,Planetwise Flannel Wipes,"These flannel wipes are OK, but in my opinion ...",3
1,Planetwise Wipe Pouch,it came early and was not disappointed. i love...,5
2,Annas Dream Full Quilt with 2 Shams,Very soft and comfortable and warmer than it l...,5
3,Stop Pacifier Sucking without tears with Thumb...,This is a product well worth the purchase. I ...,5
4,Stop Pacifier Sucking without tears with Thumb...,All of my kids have cried non-stop when I trie...,5

In [659]:
cache = data['review'][6]
cache

"Lovely book, it\\'s bound tightly so you may not be able to add alot of photos/cards aside from the designated spaces in the book. Shop around before you purchase, as it is currently listed at Barnes & Noble for 29.95!"

In [893]:
def cout(target, cache):
    if type(cache) != str:
        return 0
    cache = cache.lower()
    s = [-1]
    for i,c in enumerate(cache):
        if (c not in 'abcdefghijklmnopqrstuvwxyz'):
            s.append(i)
    coutlist = []
    for i in range(len(s)-1):
        if (s[i]+1 < s[i+1]):
            coutlist.append( cache[s[i]+1 : s[i+1]] )
    if (target not in coutlist):
        return 0
    sum = 0
    for i in coutlist:
        if (i==target):
            sum+=1
    return sum

In [662]:
# del data['great']

In [663]:
data.head()

,name,review,rating
1,Planetwise Wipe Pouch,it came early and was not disappointed. i love...,5
2,Annas Dream Full Quilt with 2 Shams,Very soft and comfortable and warmer than it l...,5
3,Stop Pacifier Sucking without tears with Thumb...,This is a product well worth the purchase. I ...,5
4,Stop Pacifier Sucking without tears with Thumb...,All of my kids have cried non-stop when I trie...,5
5,Stop Pacifier Sucking without tears with Thumb...,"When the Binky Fairy came to our house, we did...",5

## homework1:
great > ... > wow

In [767]:
a = set([23,34])
a

{23, 34}

In [771]:
a.add('sfe')
a

{23, 34, 555, 56, 'sfe'}

In [779]:
def cilp(cache):
    if type(cache) != str:
        return set() #此处和之前不一样
    cache = cache.lower()
    s = [-1]
    for i,c in enumerate(cache):
        if (c not in 'abcdefghijklmnopqrstuvwxyz'):
            s.append(i)
    coutlist = set()
    for i in range(len(s)-1):
        if (s[i]+1 < s[i+1]):
            coutlist.add( cache[ s[i]+1 : s[i+1] ] )
    return coutlist

In [780]:
data.head(15)

,name,review,rating,awesome,great,fantastic,amazing,love,horrible,bad,terrible,awful,wow,hate,is_positive
1,Planetwise Wipe Pouch,it came early and was not disappointed. i love...,5,0,0,0,0,1,0,0,0,0,0,0,True
2,Annas Dream Full Quilt with 2 Shams,Very soft and comfortable and warmer than it l...,5,0,0,0,0,0,0,0,0,0,0,0,True
3,Stop Pacifier Sucking without tears with Thumb...,This is a product well worth the purchase. I ...,5,0,0,0,0,2,0,0,0,0,0,0,True
4,Stop Pacifier Sucking without tears with Thumb...,All of my kids have cried non-stop when I trie...,5,0,1,0,0,1,0,0,0,0,0,0,True
5,Stop Pacifier Sucking without tears with Thumb...,"When the Binky Fairy came to our house, we did...",5,0,1,0,0,0,0,0,0,0,0,0,True
6,A Tale of Baby\'s Days with Peter Rabbit,"Lovely book, it\'s bound tightly so you may no...",4,0,0,0,0,0,0,0,0,0,0,0,True
7,"Baby Tracker&reg; - Daily Childcare Journal, S...",Perfect for new parents. We were able to keep ...,5,0,0,0,0,0,0,0,0,0,0,0,True
8,"Baby Tracker&reg; - Daily Childcare Journal, S...",A friend of mine pinned this product on Pinter...,5,0,0,1,0,0,0,0,0,0,0,0,True
9,"Baby Tracker&reg; - Daily Childcare Journal, S...",This has been an easy way for my nanny to reco...,4,0,0,0,0,0,0,0,0,0,0,0,True
10,"Baby Tracker&reg; - Daily Childcare Journal, S...",I love this journal and our nanny uses it ever...,4,0,0,0,0,2,0,0,0,0,0,0,True
11,"Baby Tracker&reg; - Daily Childcare Journal, S...",This book is perfect! I\'m a first time new m...,5,0,0,0,0,0,0,0,0,0,0,0,True
12,"Baby Tracker&reg; - Daily Childcare Journal, S...",I originally just gave the nanny a pad of pape...,4,0,0,0,0,0,0,0,0,0,0,0,True
14,Nature\'s Lullabies First Year Sticker Calendar,"Space for monthly photos, info and a lot of us...",5,0,0,0,0,0,0,0,0,0,0,0,True
15,Nature\'s Lullabies First Year Sticker Calendar,I bought this calender for myself for my secon...,4,0,0,0,0,0,0,0,0,0,0,0,True
16,Nature\'s Lullabies First Year Sticker Calendar,"I love this little calender, you can keep trac...",5,0,0,0,0,1,0,0,0,0,0,0,True

In [781]:
data.index[0:200]

Int64Index([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,
            ...
            207, 208, 209, 210, 211, 215, 216, 217, 219, 220],
           dtype='int64', length=200)

In [782]:
data['review'][38]

nan

In [783]:
cilp(data['review'][38])

set()

In [790]:
total_words = set()
for i in data.index:
    total_words = total_words | cilp(data['review'][i])

In [819]:
len(total_words)

59727

In [818]:
total_words = list(total_words)

In [814]:
a = set([2,3,4])

In [826]:
selected_words = ['awesome', 'great', 'fantastic', 'amazing', 'love',
                  'horrible', 'bad', 'terrible', 'awful', 'wow', 'hate']

In [894]:
for i, word in enumerate(selected_words):
    data[word] = 0
    data[word] = data['review'].apply(lambda x : cout(word,x))
    if (i%5==0):print(i, data[word].sum())
    print(word,': ',data[word].mean())

0 4056
awesome :  0.022099808751655035
great :  0.3237654674142243
fantastic :  0.009611455285483106
amazing :  0.01479314121320104
love :  0.23894056045027814
5 1244
horrible :  0.006778146471168358
bad :  0.02689463905280307
terrible :  0.0069688499490549284
awful :  0.004108297780756384
wow :  0.002495491224915682
10 1286
hate :  0.007006990644632242

## homework2:

love > ... > terrible

In [ ]:
x = data[total_words]
x.head()

In [ ]:
data['is_positive'] = data['rating']>=4
y = data['is_positive']
y.head()

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

In [ ]:
print(x_train.shape, x_test.shape)
print(y_train.shape, y_test.shape)

In [ ]:
clf = sklearn.linear_model.LogisticRegression(C=1e5, tol=0.01, n_jobs=1)
# clf = sklearn.linear_model.LinearRegression()

In [ ]:
clf.fit(x_train, y_train)

In [ ]:
print(clf.coef_)
print(clf.intercept_)
clf.coef_.T.mean(axis=0)

In [ ]:
x_test.iloc[0:3].dot(clf.coef_.T) + clf.intercept_

In [ ]:
clf.predict(x_test.iloc[0:20])

## homework3:

In [683]:
y_test.head()

146345    False
80867     False
148242    False
162192     True
141236     True
Name: is_positive, dtype: bool

In [684]:
clf.predict(x_test)

array([ True,  True,  True, ...,  True,  True,  True])

In [685]:
# select_word_model, accuracy = 0.771
(np.round(clf.predict(x_test)) == y_test).mean()

0.849030014092531

In [687]:
print(len(data['rating']),'\n')
for i in [1,2,4,5]:
    print((data['rating'] == i).sum())

166752

15183
11310
33205
107054

In [689]:
# 盲目猜最大值
(107054+33205)/166752.0

0.8411233448474381

In [ ]:
# full_word_model, accuracy = 
(np.round(clf.predict(x_test)) == y_test).mean()

In [834]:
data.head()

,name,review,rating
0,Planetwise Flannel Wipes,"These flannel wipes are OK, but in my opinion ...",3
1,Planetwise Wipe Pouch,it came early and was not disappointed. i love...,5
2,Annas Dream Full Quilt with 2 Shams,Very soft and comfortable and warmer than it l...,5
3,Stop Pacifier Sucking without tears with Thumb...,This is a product well worth the purchase. I ...,5
4,Stop Pacifier Sucking without tears with Thumb...,All of my kids have cried non-stop when I trie...,5

In [906]:
def rematch(target, cache):
    if (type(cache) != str):
        return False
    if (len(cache)<10):
        return False
    for i in range(len(data)):
        if (cache[0:10] == target):
            return True
        else:
            return False

In [918]:
rematch('Baby Trend', data['name'][250])

False

In [919]:
mask = data['name'].apply(lambda x : rematch('Baby Trend', x))

In [920]:
mask.sum()

1007

In [922]:
data[mask].mean()

rating       3.919563
awesome      0.023833
great        0.384310
fantastic    0.011917
amazing      0.017875
love         0.341609
horrible     0.016882
bad          0.076465
terrible     0.009930
awful        0.003972
wow          0.003972
hate         0.016882
dtype: float64