In [1]:
import numpy as np
import pandas as pd
import sklearn.linear_model
from sklearn.model_selection import train_test_split

In [2]:
sales = pd.read_csv("home_data.csv")

In [3]:
sales.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

## homework1:

In [4]:
(sales['price'][(sales['zipcode']==98039)]).mean()

2160606.6

## homework2:

In [6]:
a = 2000<sales['sqft_living']
b = sales['sqft_living']<4000
print(a.head())
print(b.head())
print( np.array([True, True, False, False]) & np.array([True, False, True, False]) )
(a & b).mean()

0    False
1     True
2    False
3    False
4    False
Name: sqft_living, dtype: bool
0    True
1    True
2    True
3    True
4    True
Name: sqft_living, dtype: bool
[ True False False False]

0.4215518437977143

In [10]:
my_features = ['bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot', 'floors', 'zipcode']
advanced_features = [
'bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot', 'floors', 'zipcode',
'condition', # condition of house				
'grade', # measure of quality of construction				
'waterfront', # waterfront property				
'view', # type of view				
'sqft_above', # square feet above ground				
'sqft_basement', # square feet in basement				
'yr_built', # the year built				
'yr_renovated', # the year renovated				
'lat', 'long', # the lat-long of the parcel				
'sqft_living15', # average sq.ft. of 15 nearest neighbors 				
'sqft_lot15', # average lot size of 15 nearest neighbors 
]

In [44]:
y = sales['price']
x1 = sales[my_features]
x2 = sales[advanced_features]
x1.head()

   bedrooms  bathrooms  sqft_living  sqft_lot  floors  zipcode
0         3       1.00         1180      5650     1.0    98178
1         3       2.25         2570      7242     2.0    98125
2         2       1.00          770     10000     1.0    98028
3         4       3.00         1960      5000     1.0    98136
4         3       2.00         1680      8080     1.0    98074

In [98]:
# 难怪总是做错！因为GraphLab的randomseed肯定课sklearn不一样，看来只能多次尝试了。
for i in range(10):
    x_train, x_test, y_train, y_test = train_test_split(x1, y, test_size=0.2, shuffle=True)#random_state=52,
    # print(len(x_train), len(x_test), len(y_train), len(y_test))
    clf = sklearn.linear_model.LinearRegression( fit_intercept=True )
    clf.fit(x_test, y_test)
    # RMSE
    rmse1 = np.sqrt(sklearn.metrics.mean_squared_error(y_test, clf.predict(x_test)))
    # 检验RMSE函数
    np.sqrt(np.square(y_test - clf.predict(x_test)).sum()/len(y_test))

    x_train, x_test, y_train, y_test = train_test_split(x2, y, test_size=0.2, shuffle=True)#random_state=52,
    # print(len(x_train), len(x_test), len(y_train), len(y_test))
    clf = sklearn.linear_model.LinearRegression( fit_intercept=True )
    clf.fit(x_test, y_test)
    # RMSE
    rmse2 = np.sqrt(sklearn.metrics.mean_squared_error(y_test, clf.predict(x_test)))
    # 检验RMSE函数
    np.sqrt(np.square(y_test - clf.predict(x_test)).sum()/len(y_test))

    print(rmse1,rmse2,'\t',rmse1 - rmse2)

252772.45778409668 210085.33515230977 	 42687.122631786915
249243.367366847 203637.10731141272 	 45606.26005543428
270684.7952768499 198280.16025172066 	 72404.63502512922
245655.19221391832 214693.5885525842 	 30961.603661334113
263071.0749164345 191858.91224818578 	 71212.1626682487
249427.22683672572 203385.61346397683 	 46041.61337274889
245001.91722186242 200067.41233907893 	 44934.50488278348
244524.1714435839 193419.18614890086 	 51104.98529468305
257672.36372183322 210237.24662626465 	 47435.11709556857
252269.72370657785 202207.7361218565 	 50061.987584721355

一次次猜，才中，还错过提交时间了。
吸取教训：就算是猜也要按时完成。

- residual sum of squares: RSS  = sum( (y - y_predict)^2 )

- mean squared error:      MSE  = RSS/N

- root mean squared error: RMSE = sqrt(RSS/N)

In [52]:
# 检验模型系数
(x_test.dot(clf.coef_.T)+clf.intercept_ == clf.predict(x_test)).mean()

1.0

## homework3:
- advance_feature RMSE=196874
- my_feature RMSE=253861

In [205]:
253861-196874

56987